<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.png" alt="Amulya" class="img-fluid" title="Amulya Weather App" >
                </figure>
    
              </div>
          <!-- left side div  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather App</p>
            <h1>I Am a <span class="text_clr">Geek Programmer,</span> Web Developer and A Learner</h1>
            <a href="https://www.linkedin.com/in/amulyadixit/" target="_blank"><button>About me</button></a>
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        <!-- footer -->

        {{>footer}}


</body>

</html>

