<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>Get The Latest <span class="text_clr">Weather</span> Info Of Your City</h1>
            <a href="/weather"><button>check now</button></a>
          </div>
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_right">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/bg1.png" class=" w-100" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img src="images/bg2.png" class=" w-100" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img src="images/bg3.png" class=" w-100" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
        </div>
        </div>
        </div>

        <!-- footer -->

        {{>footer}}


</body>

</html>

