<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
            <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter Your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
        </div>
        </div>
        </div>
        </div>

        <!-- footer -->

        {{>footer}}


</body>

</html>

